body { 
	font-family: "Segoe UI", Arial, sans-serif; 
}

.navbar {
    background-color: #836CF8;
}

.navbar h1 {
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-left: 2%;
}

.bgImg {
    background-image: url("/img/andrew-neel-cckf4TsHAuw-unsplash\ \(1\).jpg");
    height: 1000px;
    background-position: center;
    background-size: cover;
}

.mainTitle {
    text-align: center;
}

.mainTitle h1 {
    opacity: 1;
    margin-top: 15%;
    font-size: 82px;
    font-weight: bold;
    font-style: italic;
    color: white;
    -webkit-text-stroke: 1px #836CF8;
}

.createAnAccount {
    height: 70px;
    width: 300px;
    border-radius: 15px;
    background-color: #836CF8;
    color: white;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    margin-top: 2.5%;
    font-size: 25px;
}

.createAnAccount:hover {
    background-color: #5F42F3;
}

.mainPart {
    background-image: url("/img/andrew-neel-cckf4TsHAuw-unsplash\ \(1\).jpg");
    height: 1000px;
    background-position: center;
    background-size: cover;
}

.logInAndSignUpBlock {
    font-weight: bold;
    font-size: 20px;
    height: 500px;
    width: 800px;
    opacity: 0.86;
    position: absolute;
    left: 30%;
    top: 55%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    border: solid 2px #707070;
}

.button {
    border-radius: 15px;
    background-color: #836CF8;
    color: white;
    border: none;
    font-weight: bold;
}

.logInAndSignUpBlock input {
    border-radius: 15px;
    border: solid 2px #707070;
    text-align: center;
    font-size: 15px;
    margin-left: 5%;
}

.logInAndSignUpBlock label {
    margin-left: 2.5%;
    font-size: 23px;
    font-weight: bold;
}

.logInAndSignUpBlock button {
    margin-top: 4%;
    margin-left: 10%;
}

.logInPageImg {
    height: 250px;
    position: absolute;
    top: 17.5%;
    left: 37%;
}